div.modal.animate__animated.animate__zoomIn#login-modal
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      div.modal-body.p-5
        div.row
          div.col-md-6.d-flex.align-items-center.justify-content-center
            img(src="images/signup.svg" width="100%")
          div.col-md-6
            h1.display-4.mb-4(style="font-size:35px") Welcome !
            form
              div.form-group.mb-4
                input.form-control.p-4(
                  type="email" 
                  name="email" 
                  placeholder="Email id")
                  
              div.form-group.mb-4
                input.form-control.p-4(
                  type="password" 
                  name="password" 
                  placeholder="Password")
                  
              div.form-group.mb-4
                button.btn(
                  type="submit"
                  style="background-color: #377DFF;color:white"
                  ) Login
                  
              p New user? 
                a(href="#")#request-signup-modal Create an account
                  
                  
        
        
