div.modal.animate__animated.animate__zoomIn#signup-modal
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      div.modal-body.p-5
        div.row
          div.col-md-6.d-flex.align-items-center.justify-content-center
            img(src="images/signup.svg" width="100%")
          div.col-md-6
            h1.display-4.mb-4(style="font-size:35px") Register Now
            form#signup-form
              div.form-group.mb-4
                input.form-control.p-4(
                  type="text" 
                  name="company_name" 
                  placeholder="Company name"
                  required="required"
                  value="wap institute"
                  )
                  
              div.form-group.mb-4
                input.form-control.p-4(
                  type="email" 
                  name="email" 
                  placeholder="Company email"
                  required="required"
                  value="wapinstitution@gmail.com"
                  )
                  
              div.form-group.mb-4
                input.form-control.p-4(
                  type="number" 
                  name="mobile" 
                  placeholder="Mobile no"
                  required="required"
                  value=0123456789
                  )
                  
              div.form-group.mb-4
                input.form-control.p-4(
                  type="password" 
                  name="password" 
                  placeholder="Password"
                  required="required"
                  value="1234"
                  )
                  
              div.form-group.mb-4
                button.btn(
                  type="submit"
                  style="background-color: #377DFF;color:white"
                  ) Sign up
                  
              p Already have an account? 
                a(href="#")#request-login-modal Login
                  
                  
        
        
